:root {
  --clr-blue-400: 233 47% 7%;
  --clr-blue-300: 244 38% 16%;
  --clr-violet-400: 277 64% 61%;
  --clr-white: 0 0% 100%;

  --ff-inter: 'Inter', sans-serif;
  --ff-lexend-deca: 'Lexend Deca', sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;
}

/* RESET */

/* https://andy-bell.co.uk/a-modern-css-reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

body {
  min-height: 100vh;
}

img,
picture {
  max-width: 100%;
  display: block;
}

/* UTILITY CLASSES */

.bg-blue-400 {
  background-color: hsl(var(--clr-blue-400));
}

.bg-blue-300 {
  background-color: hsl(var(--clr-blue-300));
}

.bg-violet-400 {
  background-color: hsl(var(--clr-violet-400));
}

.text-violet-400 {
  color: hsl(var(--clr-violet-400));
}

.text-white-200 {
  color: hsl(var(--clr-white) / 0.6);
}

.text-white-300 {
  color: hsl(var(--clr-white) / 0.75);
}

.text-white-400 {
  color: hsl(var(--clr-white));
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
  border-width: 0;
}

body {
  font-size: 0.9375rem;
}
