:root {
  --clr-blue-400: 233 47% 7%;
  --clr-blue-300: 244 38% 16%;
  --clr-violet-400: 277 64% 61%;
  --clr-white: 0 0% 100%;

  --ff-sans: 'Inter', sans-serif;
  --ff-lexend-deca: 'Lexend Deca', sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;
}

/* RESET */

/* https://andy-bell.co.uk/a-modern-css-reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

body {
  min-height: 100vh;
}

img,
picture {
  width: 100%;
  display: block;
}

/* UTILITY CLASSES */

.flex {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.bg-blue-400 {
  background-color: hsl(var(--clr-blue-400));
}

.bg-blue-300 {
  background-color: hsl(var(--clr-blue-300));
}

.bg-violet-400 {
  background-color: hsl(var(--clr-violet-400));
}

.text-violet-400 {
  color: hsl(var(--clr-violet-400));
}

.text-white-200 {
  color: hsl(var(--clr-white) / 0.6);
}

.text-white-300 {
  color: hsl(var(--clr-white) / 0.75);
}

.text-white-400 {
  color: hsl(var(--clr-white));
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
  border-width: 0;
}

/* MAIN */

body {
  font-family: var(--ff-sans);
  font-size: 0.9375rem;
  padding: 1.6em;
}

.stats-preview-card {
  max-width: 21.8em;
  margin-inline: auto;
  border-radius: 0.5333em;
  overflow: hidden;
}

.stats-preview-card__img-wrapper {
  display: flex;
  position: relative;
}

.stats-preview-card__img-wrapper::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: hsl(var(--clr-violet-400) / 0.6);
}

.stats-preview-card__img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.stats-preview-card__text {
  padding: 2.667em 2em 2.467em;
  text-align: center;
}

.stats-preview-card__title {
  font-size: 1.75rem;
  line-height: 1.15;
}

.stats-preview-card__desc {
  line-height: 1.6;
  margin-block: 1em 2.667em;
}

.stats-preview-card__stats-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
}

.stats-preview-card__stats-item {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}

.stats-preview-card__stat-value {
  font-weight: var(--fw-bold);
  font-size: 1.5rem;
}

.stats-preview-card__stat-heading {
  font-family: var(--ff-lexend-deca);
  text-transform: uppercase;
  font-size: 0.8125rem;
  letter-spacing: 2%;
}

@media screen and (min-width: 40em) {
  .stats-preview-card {
    max-width: 60%;
  }

  .stats-preview-card__stats-list {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 56.25em) {
  .stats-preview-card {
    max-width: 74em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    grid-auto-flow: dense;
  }

  .stats-preview-card__img-wrapper {
    grid-column: 2 / span 1;
  }

  .stats-preview-card__text {
    padding: 4.8em 5.467em 4.267em 4.8em;
    text-align: unset;
  }

  .stats-preview-card__title {
    font-size: 2.25rem;
    line-height: 1.4;
  }

  .stats-preview-card__desc {
    margin-block: 1.667em 4.8em;
    padding-right: 0.5em;
  }

  .stats-preview-card__stats-list {
    justify-content: space-between;
  }
}
