/* RESET */

/* https://andy-bell.co.uk/a-modern-css-reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
p {
  margin: 0;
}

body {
  min-height: 100vh;
}

img,
picture {
  max-width: 100%;
  display: block;
}
